@media only screen and (min-width: 420px) and (max-width: 912px) {
  body {
    max-width: 98%;
    margin: 0 auto;
  }

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }

  .useds {
    width: 90%;
    justify-content: space-between;
    margin: 37px auto;
  }

  .used {
    width: 10%;
  }

  .contact h3 {
    font-size: 32px;
    color: #9390ff;
    margin-top: 120px;
  }

  .contact .text {
    margin: 50px auto;
    width: 320px;
    text-align: center;
  }

  .nav-active {
    overflow: hidden;
    display: flex;
    position: absolute;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1100px) {
  main {
    min-width: 80%;
    margin: 0 auto;
  }

  .nav-active {
    overflow: hidden;
    display: flex;
    position: absolute;
    width: 100%;
    margin-bottom: 50px;
  }

  .nav-links {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    z-index: 100;
  }
}

@media only screen and (min-width: 992px) {
  .popup1,
  .popup2,
  .popup3,
  .popup4 {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 17px;
    background-color: #191665a4;
    backdrop-filter: blur(3rem);
    z-index: 1200;
    display: none;
    margin: 0;
  }

  .pop-contaite {
    margin: 20px auto;
    width: 80%;
  }

  .pop-img {
    width: 100%;
    margin: 20px 0;
    height: 500px;
  }

  .pop-link {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .pop-contaite ul {
    width: 40%;
    margin: 40px auto;
  }

  .simple-para {
    display: none;
  }

  .large-para {
    display: block;
  }

  .pop-contaite p {
    width: 70%;
    margin: 30px auto;
    font-size: 16px;
    text-align: center;
  }

  .cercle1 {
    width: 200px;
    height: 200px;
    left: 40px;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.822);
    filter: blur(30px);
    -webkit-filter: blur(30px);
  }

  .cercle2 {
    filter: blur(30px);
    width: 200px;
    height: 200px;
    right: 60px;
    top: 550px;
    background-color: rgba(255, 255, 255, 0.76);
    -webkit-filter: blur(30px);
  }

  .works2 {
    filter: blur(60px);
    width: 550px;
    height: 50px;
    top: 35vh;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -webkit-filter: blur(60px);
  }

  .works1 {
    filter: blur(30px);
    width: 550px;
    height: 70px;
    top: 300vh;
    right: -60px;
    transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
    -webkit-filter: blur(30px);
  }

  .works {
    position: relative;
    width: 75%;
    margin: 0 auto;
  }

  nav {
    width: 30%;
    margin-right: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .link .right {
    display: none;
  }

  .nav-active {
    display: none;
    opacity: 0;
  }

  .nav-links {
    z-index: 100;
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }

  nav button {
    display: none;
  }

  .blocks {
    min-width: 1156px;
  }

  .nav-links ul {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .nav-links ul li a {
    font-size: 15px;
    margin: 0;
  }

  .block-one h1 {
    margin-top: 140px;
    font-size: 90px;
  }

  .sub-title {
    font-size: 40px;
    letter-spacing: 1px;
    margin-top: 10px;
  }

  .paragraph {
    width: 470px;
    padding-top: 30px;
    margin: 80px auto;
    font-size: 20px;
  }

  hr {
    display: none;
  }

  br {
    display: none;
  }

  .useds {
    width: 50%;
    justify-content: space-between;
    margin: 37px auto;
    padding-top: 35px;
    padding-bottom: 70px;
    border-bottom: 2px #646369 solid;
    border-top: 2px #646369 solid;
  }

  .used {
    width: 10%;
  }

  .used li {
    font-size: 16px;
  }

  .work-link {
    margin-bottom: 240px;
  }

  .links {
    width: 30%;
  }

  .down2 {
    width: 20%;
    font-size: 15px;
  }

  .down1 {
    width: 20%;
    display: block;
    font-size: 15px;
  }

  .work-title {
    margin-bottom: 50px;
  }

  .projects:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }

  .projects:nth-child(even).project-content {
    padding-right: 20px;
    padding-left: 0;
  }

  .works .projects {
    width: 100%;
    margin: 80px auto;
    display: flex;
  }

  .img {
    width: 60%;
    height: 448px;
  }

  .project-content {
    width: 40%;
    padding-left: 30px;
  }

  .contact .mobile {
    display: none;
  }

  .desk {
    display: block;
  }

  .langage-used {
    margin-bottom: 30px;
  }

  .line {
    height: 2px;
    width: 100%;
    background-color: #646369;
    margin-bottom: 96px;
  }

  footer {
    width: 684px;
    margin: 118px auto 50px auto;
  }

  .text {
    margin-bottom: 80px;
  }

  input {
    width: 684px;
    border: none;
    height: 48px;
  }

  .last-name {
    display: block;
  }

  .input-mail {
    width: 684px;
    height: 48px;
  }

  .textarea {
    border: none;
    width: 684px;
    height: 134px;
    margin-bottom: 70px;
  }

  .names {
    width: 684px;
    display: flex;
    justify-content: space-between;
  }

  .lines {
    display: none;
  }

  .footer {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
  }

  .footer .links {
    margin: 0;
  }

  .footer .mail {
    margin-right: 0;
    margin-top: 16px;
  }
}
