@import url("https://fonts.googleapis.com/css2?family=Cambay&family=Open+Sans:wght@300&family=Poppins:wght@100;200;400&family=Prompt:wght@300&family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p,
a,
li {
  color: rgb(226, 226, 226);
}

br {
  margin: 40px 0;
}

h5 {
  margin-bottom: 15px;
  color: #f30b0b;
}

h4 {
  color: #6d66d3;
}

i:hover {
  transition: 0.5s;
  color: #3b32c0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.popup-active {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 17px;
  background-color: #1916658f;
  backdrop-filter: blur(3rem);
  z-index: 1200;
  display: none;
  margin: 0;
}

.pop-btn {
  display: flex;
  flex-direction: column;
}

.up-container {
  overflow-y: auto;
  scrollbar-width: thin;
}

.close1,
.close2,
.close3,
.close4 {
  position: absolute;
  font-size: 25px;
  top: 15px;
  right: 20px;
}

.pop-contaite {
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: thin;
  position: relative;
  background-color: rgba(255, 255, 255, 0.123);
  padding: 20px;
  border: rgba(221, 220, 220, 0.575) solid;
  height: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.pop-contaite p {
  margin-bottom: 24px;
  font-size: 16px;
  text-align: center;
}

.pop-contaite h1 {
  margin-bottom: 15px;
  margin-bottom: 24px;
}

.pop-img {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
}

.see-live {
  margin: 10px auto;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #7d73fc;
}

.simple-para {
  display: block;
}

.large-para {
  display: none;
}

.git-icon {
  padding: 0;
  margin: 0;
}

.pop-link {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.git {
  margin: 10px auto;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #7d73fc;
}

.toggle {
  color: #fff;
}

.toggle:hover {
  color: #fff;
  z-index: 1;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-top: 3px;
  margin-top: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #191665;
}

.cercle1,
.cercle2 {
  filter: blur(50px);
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -2;
  animation-name: cercle;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes cercle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mail {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.cercle1 {
  left: -60px;
  top: 100px;
}

.cercle2 {
  width: 60px;
  height: 60px;
  right: 0;
  top: 550px;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.stiky {
  background: #03030333;
  backdrop-filter: blur(3rem);
  padding: 15px 15px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

header a {
  font-style: normal;
  font-size: 35px;
}

nav {
  width: 20%;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: none;
  height: 0;
}

.nav-active {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120vh;
  background-color: #191665;
  padding: 30px;
  pointer-events: all;
}

.nav-active .close-nav button i {
  color: #fff;
}

.close-nav {
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 4;
}

.close-nav:hover {
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 4;
}

.nav-active ul {
  width: 88%;
  margin: 60px auto;
}

.nav-active .envelope {
  display: none;
}

.nav-active .right {
  z-index: 4;
  color: #5d55d4;
}

.nav-active ul li a {
  font-size: 21px;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-active .cercle-nav1 {
  position: absolute;
  top: 40vh;
  left: -40px;
  background-color: #fff;
  z-index: 0;
  width: 200px;
  height: 60px;
  filter: blur(25px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-filter: blur(25px);
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.nav-active .cercle-nav2 {
  position: absolute;
  top: 60vh;
  right: 0;
  background-color: #fff;
  z-index: 0;
  width: 200px;
  height: 100px;
  filter: blur(25px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-filter: blur(25px);
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

nav button {
  color: #fff;
  font-size: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.blocks {
  display: block;
  justify-content: center;
  align-items: center;
}

.block-one {
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  margin-top: 60px;
  text-align: center;
  font-size: 38px;
  line-height: 72px;
  color: #867dff;
}

.blocks .block-one h2 {
  letter-spacing: 2px;
  text-align: center;
  margin-top: 30px;
}

.blocks .block-one p {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 19px;
}

.useds {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 20px;
}

.used {
  width: 48%;
}

.links {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.works {
  position: relative;
  width: 85%;
  margin: 0 auto;
}

.work-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.down2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin: 30px;
}

.down1 {
  display: none;
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin: 30px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
}

.picture1 {
  background-image: url("img/img01\ \(2\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  height: 95%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
  transition: width 0.5s ease, height 0.5s ease;
}

.picture2 {
  background-image: url("img/gh-pages.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  height: 95%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
  transition: width 0.5s ease, height 0.5s ease;
}

.picture3 {
  background-image: url("img/leader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  height: 95%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
  transition: width 0.5s ease, height 0.5s ease;
}

.picture4 {
  background-image: url("img/img4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  height: 95%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.151);
}

.picture1:hover,
.picture2:hover,
.picture3:hover,
.picture4:hover {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.works h3 {
  color: #867dff;
  font-size: 40px;
}

.works .projects h2 {
  margin: 30px 0;
}

.works .projects p {
  margin-bottom: 20px;
  font-size: 18px;
}

.project {
  margin-top: 40px;
}

.works1,
.works2 {
  filter: blur(50px);
  position: absolute;
  background-color: rgba(255, 255, 255, 0.76);
  z-index: -2;
}

.desk {
  display: none;
}

.works2 {
  width: 350px;
  height: 50px;
  top: 35vh;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.works1 {
  width: 250px;
  height: 50px;
  top: 200vh;
  right: 0;
  transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
}

.works button {
  border: none;
  background-color: #9390ff;
  padding: 20px 15px;
  color: #fff;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.works button:hover {
  background-color: #4036cf;
}

.langage-used ul {
  display: flex;
  justify-content: space-between;
}

.langage-used ul li {
  margin: 20px auto;
  padding: 0 15px;
}

li.colum1 {
  border-left: rgb(99, 99, 99) 1px solid;
}

li.colum2 {
  border-left: rgb(99, 99, 99) 1px solid;
  border-right: rgb(99, 99, 99) 1px solid;
}

#contact {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.contact {
  padding: 20px;
  text-align: center;
  border-bottom: 2px #3a3837 solid;
}

.contact h3 {
  font-size: 32px;
  color: #9390ff;
  margin-top: 120px;
}

.contact .text {
  margin-top: 24px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  font-family: "Poppins", sans-serif;
  width: 327px;
  height: 28px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: #fff;
  padding: 15px 16px;
  margin-top: 24px;
  outline: none;
}

textarea {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  font-size: 15px;
  width: 327px;
  height: 148px;
  padding: 12px;
  margin-top: 24px;
  outline: none;
  border: none;
}

.contact .button-sub {
  border: none;
  color: #fff;
  padding: 12px;
  background-color: #7d73fc;
  margin-bottom: 71px;
  margin-top: 20px;
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
}

.contact .button-sub:hover {
  color: #fff;
  background-color: #2c1dff;
}

.contact .links {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
}

.error-message {
  color: rgb(248, 14, 14);
}

.lines {
  content: "";
  width: 30%;
  height: 5px;
  background-color: #030303;
  margin: 8px auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#email {
  color: #191765;
  font-weight: 400;
}
